


<div class="page" data-name="home">

  
         Static Navbar 
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
        
        </div>
        <a href="/perfil/" class="title" >Perfil de Operario</button>
        <div class="right"></div>
      </div>
    </div>     
    
<!--
<div class="appbar">
  <div class="appbar-inner">
    Perfil Operario
    ... Appbar content
  </div>
</div> -->
  
  <div class="page-content" style="background-color: white ;">

 

    <div class="block" style="left: 10%; margin-top: 10%;">
      <img src="img/Nuevologo.png" height="80%", width="80%",>

    </div>
  </div>

<!-- Additional "tabbar-labels" class -->
<div class="toolbar tabbar tabbar-labels toolbar-bottom">
  <div class="toolbar-inner">

    <a href="javascript:showMenu()" class="tab-link tab-link-active">
      <!-- Different icons for iOS and MD themes -->
      <i class="icon f7-icons if-not-md">hammer_fill<span class="badge color-red">3</span></i>
      <i class="icon material-icons md-only">error<span class="badge color-red">5</span></i>
      <!-- Label text -->
      <span class="tabbar-label">Falla</span>
    </a>
   
    <a href="javascript:mostrarmenu()" class="tab-link tab-link-active">
      <i class="icon f7-icons if-not-md">gauge_badge_plus<span class="badge color-red">5</span></i>
      <i class="icon material-icons md-only">query_builder<span class="badge color-red">5</span></i>
      <span class="tabbar-label">Operación Normal</span>
    </a> 


    
  </div>
</div>




</div>

