
    
          <!-- Static Navbar -->
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              
              <div class="left">
                <a href="javascript:showMenu();">
                  <i class="f7-icons">menu</i>
                  <span class="if-not-md"></span>
                </a>
              </div>
            
              <div class="title">Team</div>
              <div class="right"></div>
            </div>
          </div>
         
       
    <div class="page-content">
          
         
          
          
          <a href="/homeu/" class="col button button-fill" >Home a editar</button>


    </div>
  
</div>